<!DOCTYPE html>
<html lang="en">



<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Warung Online</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
    integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="css/home.css">
  <link rel="stylesheet" href="css/produk.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="js/jquery-3.6.1.min.js"></script>
  <style>
    * {
      user-select: none;
    }
  </style>
  <link rel="shortcut icon" href="assets/otherImages/main.gif">
</head>
<script>
  $(document).ready(() => {
    console.log("jquery active");
  });
</script>

<body>
  <?- include('template/storeSidebar', {role:user.role}); ?>

  <section class="p-4" id="main-content">
    <div class="box">
      <div class="container-1">
        <span class="icon"><i class="bi bi-search"></i></span>
        <input type="text" id="searchengine" onkeyup="cari()" placeholder="Search..." />
      </div>
    </div>
    <button class="btn btn-primary" id="button-toggle">
      <i class="bi bi-list"></i>
    </button>
    <div class="card mt-5">
      <div class="card-body">
        <h4>Warung Digital</h4>
        <p>
          platform teknologi Online-to-Offline dan penyedia produk digital yang
          berkomitmen untuk memberdayakan warung serta usaha kecil dan menengah
          untuk berjualan berbagai macam produk dan layanan dengan satu aplikasi.
        </p>
      </div>
    </div>
    <div class="card mt-5">
      <div class="card-body">
        <div class="badan">
          <h4>Produk Baru</h4>
          <? for (let i = 0; i < barang.length; i++) {?>
          <div class="list-produk" id="produk">
            <img src="assets/itemImages/<?=barang[i].foto?>" id="susu" alt="susu">

            <h4>
              <?barang[i].nama?>
            </h4>
            <h5>Rp <?= barang[i].harga?></h5>
            <form action="/detail-barang" method="post">
              <input type="hidden" value="">
              <button type="submit" class="tombol tombol-detail" href="/detail-barang" style="border-width: 0;">Detail</button>
            </form>
            <form action="/tambah-keranjang" method="post">
              <input type="hidden" value="">
              <button type="submit" class="tombol tombol-beli" href="/tambah-keranjang" style="width: auto; border-width: 0;">Tambah keranjang</button>
            </form>
          </div>
          <?} ?>

        </div>
      </div>
    </div>
  </section>
  <script>
    // pada saat akan dieksekusi ketika tombol diklik
    document.getElementById("button-toggle").addEventListener("click", () => {

      // ketika tombol-toggle diklik, itu akan menambah/menghapus kelas bilah sisi aktif
      document.getElementById("sidebar").classList.toggle("active-sidebar");

      // ketika tombol-toggle diklik, itu akan menambah/menghapus kelas konten utama aktif
      document.getElementById("main-content").classList.toggle("active-main-content");
    });

    // function cari(){
    //   var input = document.getElementById("searchengine");
    //   var filter = input.value.cari();
    //   var div = document.getElementById("produk");
    //   var img = document.querySelectorAll("img")
    //   console.log(list-produk)
    //   for(var i=0; i<list-produk.lenghth; i++){
    //     var src = document.querySelectorAll("")
    //   }
    // }


  </script>
</body>

</html>