<?- include('./template/header'); ?>

<body class="container-fluid p-0 row">
    <div class=" col-2 ">
        <?- include('template/dashboardSidebar'); ?>
    </div>
    <div class="container row col bg-light rounded-3" style="height: 100vh;">
        <div class="col  rounded-3 bg-light px-0 my-1">
            <div class="row  pt-3">
                <div class="col-3">
                    <h3>Pengelolaan Barang</h3>
                </div>
                <div class="col input-group mb-3">
                    <input type="text" class="form-control border border-primary" placeholder="Cari Item Disini..">
                </div>
                <div class="col">
                    <!-- button-->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tambah-barang">
                        Tambah Barang
                    </button>
                    <!-- modal-->
                    <div class="modal fade" id="tambah-barang" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                        aria-labelledby="tambah-barang-Label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <form action="/tambah-barang-baru" method="post" enctype="multipart/form-data">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="tambah-barang-Label">Tambah Barang Baru</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group mb-3">
                                            <span style="width: 20%;" class="input-group-text" id="inputGroup-sizing-default">Nama</span>
                                            <input type="text" name="namaBarangBaru" id="namaBarangBaru" class="form-control" aria-label="Sizing example input"
                                                aria-describedby="inputGroup-sizing-default" required>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span style="width: 20%;" class="input-group-text">Detail</span>
                                            <textarea name="detailBarangBaru" id="detailBarangbar" class="form-control" aria-label="With textarea"
                                                required></textarea>
                                        </div>
                                        <div class="input-group mb-3">
                                            <label style="width: 20%;" class="input-group-text" for="inputGroupFile01">Gambar</label>
                                            <input type="file" name="file" class="form-control" id="inputGroupFile01" required>
                                        </div>
                                        <div class="input-group mb-3">
                                            <label style="width: 20%;" class="input-group-text" for="jenisBarangBaru">Jenis</label>
                                            <select class="form-select" name="jenisBarangBaru" id="jenisBarangBaru" required>
                                                <option selected>Choose...</option>
                                                <? for (let i = 0; i < jenis.length; i++) {?>
                                                <option value="<?= jenis[i].Jenis_barang_id?>"><?= jenis[i].jenis?></option>
                                                <?} ?>
                                            </select>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span style="width: 20%;" class="input-group-text" id="inputGroup-sizing-default">Harga</span>
                                            <input type="number" name="hargaBarangBaru" id="hargaBarangBaru" class="form-control"
                                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="inputGroup-sizing-default" style="width: 20%;">Kuantitas</span>
                                            <input type="number" name="kuantitasBarangBaru" id="kuantitasBarangBaru" class="form-control"
                                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- button-->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tambah-jenis">
                        Tambah Jenis
                    </button>
                    <!-- modal-->
                    <div class="modal fade" id="tambah-jenis" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                        aria-labelledby="tambah-jenis-Label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <form action="/tambah-jenis" method="post">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="tambah-jenis-Label">Tambah Jenis Baru</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group mb-3">
                                            <span style="width: 20%;" class="input-group-text" id="inputGroup-sizing-default">Nama</span>
                                            <input type="text" name="namaJenis" id="namaJenis" class="form-control" aria-label="Sizing example input"
                                                aria-describedby="inputGroup-sizing-default">
                                        </div>
                                        <div class="input-group mb-3">
                                            <label style="width: 20%;" class="input-group-text" for="jenisKategori">Kategori</label>
                                            <select class="form-select" name="jenisKategori" id="jenisKategori">
                                                <option selected>Choose...</option>
                                                <? for (let i = 0; i < kategori.length; i++) {?>
                                                <option value="<?= kategori[i].Kategori_barang_id?>"><?= kategori[i].kategori?></option>
                                                <?} ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- button-->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tambah-kategori">
                        Tambah Kategori
                    </button>
                    <!-- modal-->
                    <div class="modal fade" id="tambah-kategori" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                        aria-labelledby="tambah-kategori-Label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <form action="/tambah-kategori" method="post">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="tambah-jenis-Label">Tambah Kategori Baru</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group mb-3">
                                            <span style="width: 20%;" class="input-group-text" id="inputGroup-sizing-default">Nama</span>
                                            <input type="text" class="form-control" name="namaKategori" id="namaKategori" aria-label="Sizing example input"
                                                aria-describedby="inputGroup-sizing-default">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- button-->
                    </div>
                </div>
                <div class="row bg-primary rounded-3" style="min-height: 90vh;">
                    <div class="row col p-3">
                        <?for (let i = 0; i < barang.length; i++) {?>
                        <div class="col-sm-4">
                            <div class="card m-1" style="width: 17rem;">
                                <img src=" ./assets/itemImages/<?= barang[i].foto?>" class="card-img-top" alt="...">
                                <div class="container">
                                    <div class="row">
                                        <h5 class="col"><?= barang[i].nama ?></h5>
                                        <!-- button-->
                                        <button type="button" class="col-2 btn btn-primary btn-sm p-0 m-1" data-bs-toggle="modal" data-bs-target="#edit-item">
                                            Edit
                                        </button>
                                        <!-- modal-->
                                        <div class="modal fade" id="edit-item" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                            aria-labelledby="edit-item-Label" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <form action="/edit-barang" method="post">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="tambah-barang-Label">Edit
                                                                Barang</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="input-group mb-3">
                                                                <span style="width: 20%;" class="input-group-text" id="inputGroup-sizing-default">Nama</span>
                                                                <input name="nama_edit_barang" type="text" class="form-control"
                                                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                                                                    placeholder="<?= barang[i].nama?>">
                                                            </div>
                                                            <div class="input-group mb-3">
                                                                <span style="width: 20%;" class="input-group-text">Detail</span>
                                                                <textarea name="detail_edit_barang" class="form-control" aria-label="With textarea"
                                                                    placeholder="<?= barang[i].detail?>"></textarea>
                                                            </div>
                                                            <div class="input-group mb-3">
                                                                <label style="width: 20%;" class="input-group-text" for="inputGroupFile01">Gambar</label>
                                                                <input name="gambar_edit_barang" type="file" class="form-control" id="inputGroupFile01">
                                                            </div>
                                                            <div class="input-group mb-3">
                                                                <label style="width: 20%;" class="input-group-text" for="jenis_edit_barang">Jenis</label>
                                                                <select class="form-select" name="jenis_edit_barang" id="jenis_edit_barang">
                                                                    <? for (let j = 0; j < jenis.length; j++) {?>
                                                                    <option <? if(jenis[j].Jenis_barang_id == barang[i].jenis){?>selected<?}?>
                                                                        value="<?= jenis[j].Jenis_barang_id?>"><?= jenis[j].jenis?></option>
                                                                    <?} ?>
                                                                </select>
                                                            </div>
                                                            <div class="input-group mb-3">
                                                                <span style="width: 20%;" class="input-group-text" id="inputGroup-sizing-default">Harga</span>
                                                                <input name="harga_edit_barang" type="number" class="form-control"
                                                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                                                                    placeholder="<?= barang[i].harga?>">
                                                            </div>
                                                            <div class="input-group mb-3">
                                                                <span class="input-group-text" id="inputGroup-sizing-default"
                                                                    style="width: 20%;">Kuantitas</span>
                                                                <input name="kuantitas_edit_barang" type="number" class="form-control"
                                                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                                                                    placeholder="<?= barang[i].kuantitas?>">
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <input type="hidden" name="idbarang_edit_barang" value="<?= barang[i].Barang_id?>">

                                                            <input type="hidden" name="nama_last_data" value="<?= barang[i].nama?>">
                                                            <input type="hidden" name="detail_last_data" value="<?= barang[i].detail?>">
                                                            <input type="hidden" name="gambar_last_data" value="<?= barang[i].foto?>">
                                                            <input type="hidden" name="jenis_last_data" value="<?= barang[i].jenis?>">
                                                            <input type="hidden" name="harga_last_data" value="<?= barang[i].harga?>">
                                                            <input type="hidden" name="kuantitas_last_data" value="<?= barang[i].kuantitas?>">

                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                                            <button type="submit" class="btn btn-primary">Submit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- button-->
                                        <button type="button" class="col-2 btn btn-primary btn-sm p-0 m-1" data-bs-toggle="modal" data-bs-target="#delete-item">
                                            Del
                                        </button>
                                        <!-- modal-->
                                        <div class="modal fade" id="delete-item" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                            aria-labelledby="delete-item-Label" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="delete-item-Label">Hapus Barang
                                                        </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Yakin hapus barang <?= barang[i].nama?>?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                                        <form action="/hapus-barang" method="post">
                                                            <input type="hidden" name="barang_id_todelete" id="barang_id_todelete"
                                                                value="<?= barang[i].Barang_id?>">
                                                            <button type="submit" class="btn btn-primary">Hapus</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="m-1 p-0">
                                    <p class="card-text"><?= barang[i].detail?></p>
                                    <div class="row">
                                        <span class="col card-text">Rp<?= barang[i].harga?></span>
                                        <span class="col card-text">Rate: <?= barang[i].rating?></span>
                                    </div>
                                    <div class="row">
                                        <span class="col card-text">Kuant: <?= barang[i].kuantitas?></span>
                                        <span class="col card-text">Terjual: <?= barang[i].jumlah_terjual?></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?}?>
                    </div>
                    <div class="col-3 bg-info rounded-3 mt-4 me-3" style="position: sticky; top:0; height: 85vh;">
                        <div class="container bg-light my-4 mx-auto rounded-3">
                            <h5>Daftar Jenis</h5>
                            <hr>
                            <ul class="list-group" style="height: 30vh;overflow-y: auto;">
                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <!--<button type="button" class="btn btn-outline-info rounded-top rounded-0 text-dark" style="width: 90%;">Semua</button>-->
                                </div>
                                <?for (let i = 0; i < jenis.length; i++) {?>
                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <button type="button" class="btn btn-outline-info rounded-0 text-dark" style="width: 90%;"><?= jenis[i].jenis ?></button>
                                    <!-- button-->
                                    <button type="button" class="btn btn-outline-info rounded-0 text-dark" data-bs-toggle="modal"
                                        data-bs-target="#edit-jenis-<?= jenis[i].Jenis_barang_id?>">Edit</button>
                                </div>
                                <?}?>
                            </ul>
                        </div>
                        <div class="container bg-light my-4 mx-auto rounded-3">
                            <h5>Daftar Kategori</h5>
                            <hr>
                            <ul class="list-group" style="height: 30vh;overflow-y: auto;">
                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <!--<button type="button" class="btn btn-outline-info rounded-top rounded-0 text-dark" style="width: 90%;">Semua</button>-->
                                </div>
                                <?for (let i = 0; i < kategori.length; i++) {?>
                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <button type="button" class="btn btn-outline-info rounded-0 text-dark"
                                        style="width: 90%;"><?= kategori[i].kategori ?></button>
                                    <!-- button-->
                                    <button type="button" class="btn btn-outline-info rounded-0 text-dark" id="button-delete-kategori" data-bs-toggle="modal"
                                        data-bs-target="#delete-kategori-<?= kategori[i].Kategori_barang_id?>">Del</button>
                                </div>
                                <?}?>
                            </ul>
                        </div>
                    </div>
                    <?for (let i = 0; i < jenis.length; i++) {?>
                    <!-- modal edit jenis -->
                    <div class="modal fade" id="edit-jenis-<?= jenis[i].Jenis_barang_id?>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                        aria-labelledby="edit-jenis-Label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <form action="/edit-jenis" method="post">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="edit-jenis-Label">Edit Jenis</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group mb-3">
                                            <span style="width: 20%;" class="input-group-text" id="inputGroup-sizing-default">Nama</span>
                                            <input type="text" id="nama_jenis_toedit" name="nama_jenis_toedit" class="form-control"
                                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                                                placeholder="<?= jenis[i].jenis?>">
                                        </div>
                                        <div class="input-group mb-3">
                                            <label style="width: 20%;" class="input-group-text" for="jenis_kategori_toedit">Kategori</label>
                                            <select class="form-select" name="jenis_kategori_toedit" id="jenis_kategori_toedit">
                                                <? for (let j = 0; j < kategori.length; j++) {?>
                                                <option <? if(kategori[j].Kategori_barang_id == jenis[i].kategori_id){?>selected<?}?>
                                                    value="<?= kategori[j].Kategori_barang_id?>"><?= kategori[j].kategori?></option>
                                                <?} ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">

                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                        <input type="hidden" name="jenis_id_toedit" id="jenis_id_toedit" value="<?= jenis[i].Jenis_barang_id?>">
                                        <input type="hidden" name="kategori_terpasang" id="kategori_terpasang" value="<?= jenis[i].kategori_id?>">
                                        <input type="hidden" name="nama_terpasang" id="nama_terpasang" value="<?= jenis[i].kategori?>">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <?}?>
                    <?for (let i = 0; i < kategori.length; i++) {?>
                    <!-- modal delete kategori-->
                    <div class="modal fade" id="delete-kategori-<?= kategori[i].Kategori_barang_id?>" data-bs-keyboard="false" tabindex="-1"
                        aria-labelledby="delete-kategori-Label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="delete-kategori-Label">Hapus Kategori
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Yakin hapus kategori <?= kategori[i].kategori?>?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                    <form action="/hapus-kategori" method="post">
                                        <input type="hidden" name="kategori_id_todelete" id="kategori_id_todelete" value="<?= kategori[i].Kategori_barang_id?>">
                                        <button type="submit" class="btn btn-primary">Hapus</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <?}?>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
</script>