<?- include('./template/header'); ?>

<body class="container-fluid p-0 row">
    <div class=" col-2">
        <?- include('template/dashboardSidebar'); ?>
    </div>
    <div class="row col bg-light " style="height: 100vh;">
        <div class="col container rounded-3 bg-primary me-2 my-1">
            <div class="container">
                <h2 class=" text-light text-center my-2">Transaksi Masuk</h2>
            </div>
            <div class="container border border-dark rounded-3 bg-white scroll-style" style="overflow-y: auto; height: 90vh">
                <? for (let i = 0; i < transaksiMasuk.length; i++) {?>
                <div class="card my-3 border-dark">
                    <div class="row card-body">
                        <div class="col ">
                            <h5 class="card-title"><?= transaksiMasuk[i].nama?></h5>
                            <span class="fw-light">Dipesan: <?= transaksiMasuk[i].tanggal.toLocaleString().split(',')[0]?> <?= transaksiMasuk[i].waktu?></span>
                        </div>
                        <div class="col-3 ">
                            <div class="mb-2 mx-auto d-flex justify-content-center">
                                <?if(transaksiMasuk[i].status_pembayaran == 'y'){ ?>Dibayar
                                <?} else {?>Belum Dibayar
                                <?}?>
                            </div>
                            <!-- button pembayaran-->
                            <button <?if(transaksiMasuk[i].status_pembayaran=='n' ){ ?>disabled
                                <?}?> type="button" class="btn btn-primary btn-sm mx-auto d-flex justify-content-center" data-bs-toggle="modal"
                                data-bs-target="#detail-pembayaran" onclick="ajaxModelTransaksi('<?=transaksiMasuk[i].Transaksi_id?>')" >
                                Konfirmasi
                            </button>
                        </div>
                    </div>
                </div>
                <? } ?>
            </div>
        </div>
        <!-- modal pembayaran-->
        <div class="modal fade" id="detail-pembayaran" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="detail-pembayaran-Label" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="detail-pembayaran-Label">Konfirmasi Pembayaran
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card mb-3" style="width: 100%;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="https://assets.kompasiana.com/items/album/2022/02/04/mbanking1-61fd4bc1870000170417e602.jpg?t=o&v=740&x=416"
                                        class="img-fluid rounded-start">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <h5 id="konfirmasi-customer-transaksi"></h5>
                                            </div>
                                            <div class="col">
                                                <h5 id="konfirmasi-id-transaksi"></h5>
                                            </div>
                                            <hr>
                                        </div>
                                        <table class="table table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th scope="col">No</th>
                                                    <th scope="col">Item</th>
                                                    <th scope="col">Kuantitas</th>
                                                    <th scope="col">Harga</th>
                                                    <th scope="col">Total Harga</th>
                                                </tr>
                                            </thead>
                                            <tbody id="konfirmasi-table-body">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">kembali</button>
                        <button type="button" class="btn btn-danger">Tidak Valid</button>
                        <button type="button" class="btn btn-primary">Konfirmasi</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col container rounded-3 bg-primary ms-2 my-1">
            <div class="container rounded-3 bg-primary py-3 mb-2" style="height: 8vh;">

                <!-- button cek-resi-->
                <div class="input-group ">
                    <input type="text" id="input-cek-resi" class="form-control" placeholder="Kode Resi" aria-label="Recipient's username"
                        aria-describedby="button-addon2">
                    <button id="button-cek-resi" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cek-resi">
                        Cek
                    </button>
                </div>
                <!-- modal cek-resi-->
                <div class="modal fade" id="cek-resi" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="cek-resi-Label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="cek-resi-Label">Detail Transaksi
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row text-center">
                                    <h5 class="col p-1" id="modal-cek-id-transaksi">
                                    </h5>
                                    <h5 class="col mx-auto" id="modal-cek-kondisi">
                                    </h5>
                                    <h5 class="col p-1" id="modal-cek-resi">
                                    </h5>
                                    <hr>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                <form action="/konfirmasi-pengambilan" method="post">
                                    <input type="hidden" id="resi_konfirmasi" name="resi_konfirmasi" value="">
                                    <input type="hidden" id="id_konfirmasi" name="id_konfirmasi" value="">
                                    <button type="submit" class="btn btn-primary">Konfirmasi Pengambilan</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container rounded-3 bg-primary py-1 ">
                <div class="container py-2">
                    <h2 class=" text-light text-center">Menunggu Pengambilan</h2>
                </div>
                <div class="container border border-dark rounded-3 bg-white scroll-style" style="overflow-y: auto; height: 80vh">
                    <? for (let i = 0; i < menungguPengambilan.length; i++) {?>
                    <div class="card my-3 border-dark">
                        <div class="row card-body">
                            <div class="col container-fluid">
                                <h5 class="card-title"><?= menungguPengambilan[i].nama?></h5>
                                <span class="fw-light">Dipesan: <?= menungguPengambilan[i].tanggal.toLocaleString().split(',')[0]?>
                                    <?= menungguPengambilan[i].waktu?></span>
                                <span class="fw-light">Dikonfirmasi: <?= menungguPengambilan[i].tanggal.toLocaleString().split(',')[0]?>
                                    <?= menungguPengambilan[i].waktu?></span>
                            </div>
                            <div class="col-2">
                                <!-- button pengambilan-->
                                <button onclick="ajaxModelPengambilan('<?=transaksiMasuk[i].Transaksi_id?>')" type="button"
                                    class=" btn btn-primary btn-sm mx-auto d-flex justify-content-center" data-bs-toggle="modal" data-bs-target="#detail-item">
                                    Detail
                                </button>
                                <!-- modal pengambilan-->
                                <div class="modal fade" id="detail-item" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                    aria-labelledby="detail-item-Label" aria-hidden="true">
                                    <div class="modal-dialog modal-lg modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="detail-item-Label">Detail Transaksi
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col">
                                                        <h5 id="pengambilan-customer-transaksi"></h5>
                                                    </div>
                                                    <div class="col">
                                                        <h5 id="pengambilan-id-transaksi"></h5>
                                                    </div>
                                                    <hr>
                                                </div>
                                                <table class="table table-striped table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">No</th>
                                                            <th scope="col">Item</th>
                                                            <th scope="col">Kuantitas</th>
                                                            <th scope="col">Harga</th>
                                                            <th scope="col">Total Harga</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="pengambilan-table-body">
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kembali</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <? } ?>
            </div>
        </div>
    </div>
    </div>
</body>

<script>
    function ajaxModelTransaksi(transaksi_id) {
        $.ajax({
            url: "/detail-konfirmasi-pembayaran",
            method: "POST",
            async: false,
            data: { transaksiId: transaksi_id }, //send data
            dataType: "JSON",
            success: (data) => {
                let list = data.data

                $('#konfirmasi-table-body tr').remove()
                $('#konfirmasi-customer-transaksi').text('customer:' + list[0].customer_id)
                $('#konfirmasi-id-transaksi').text('Transaksi:' + list[0].transaksi_id)
                for (let i = 0; i < list.length; i++) {
                    $('#konfirmasi-table-body').append(`
                    <tr>
                        <th scope="row">
                            ${i + 1}
                        </th>
                        <td>${list[i].nama_barang}</td>
                        <td>${list[i].kuantitas}</td>
                        <td>${list[i].harga_jual}</td>
                        <td>${list[i].harga_total}</td>
                    </tr>
                    `)
                }
                $('#konfirmasi-table-body').append(
                    `<tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td>Total</td>
                        <td>${list[0].total_harga_transaksi}</td>
                    </tr>`)

            }
        })
    }

    function ajaxModelPengambilan(transaksi_id) {
        $.ajax({
            url: "/detail-konfirmasi-pembayaran",
            method: "POST",
            async: false,
            data: { transaksiId: transaksi_id }, //send data
            dataType: "JSON",
            success: (data) => {
                let list = data.data

                $('#pengambilan-table-body tr').remove()
                $('#pengambilan-customer-transaksi').text('customer:' + list[0].customer_id)
                $('#pengambilan-id-transaksi').text('Transaksi:' + list[0].transaksi_id)
                for (let i = 0; i < list.length; i++) {
                    $('#pengambilan-table-body').append(`
                    <tr>
                        <th scope="row">
                            ${i + 1}
                        </th>
                        <td>${list[i].nama_barang}</td>
                        <td>${list[i].kuantitas}</td>
                        <td>${list[i].harga_jual}</td>
                        <td>${list[i].harga_total}</td>
                    </tr>
                    `)
                }
                $('#pengambilan-table-body').append(
                    `<tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td>Total</td>
                        <td>${list[0].total_harga_transaksi}</td>
                    </tr>`)

            }
        })
    }

    $(document).ready(
        $('#button-cek-resi').click(() => {
            let resi = $('#input-cek-resi').val();
            console.log(resi);
            $.ajax({
                url: "/cek-resi",
                method: "POST",
                async: false,
                data: { resi: resi }, //send data
                dataType: "JSON",
                success: (data) => {
                    let list = data.data[0]
                    console.log(list);
                    if (data.data == 0) {
                        $('#modal-cek-id-transaksi').text('Id:Tidak Ada')
                        $('#modal-cek-kondisi').text(' Status: Tidak Valid')
                        $('#modal-cek-resi').text(` Resi: ${resi} `)
                    } else {
                        $('#modal-cek-id-transaksi').text(` Id: ${list.Transaksi_id} `)
                        $('#modal-cek-kondisi').text(' Status: Valid ')
                        $('#modal-cek-resi').text(` Resi: ${list.kode_resi} `)
                        $('#resi_konfirmasi').val(list.kode_resi)
                        $('#id_konfirmasi').val(list.Transaksi_id)
                    }
                }
            })
        })
    )
</script>