<div class=" bg-primary rounded-end" style="position: fixed; height: 100vh;" tabindex="1" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title my-5 mx-auto text-light" id="offcanvasLabel">Dashboard Admin</h5>
    </div>
    <div class="offcanvas-body">
        <div class="list-group list-group-flush mx-3">
            <a href="/transaksi-admin" class="list-group-item list-group-item-action rounded-3 mt-2">
                Transaksi
            </a>
            <a href="/kelola-barang-admin" class="list-group-item list-group-item-action rounded-3 mt-2">Kelola
                Barang</a>
            <a href="/laporan-penjualan-admin" class="list-group-item list-group-item-action rounded-3 mt-2">Laporan
                Penjualan</a>
            <a href="/home" class="list-group-item list-group-item-action rounded-3 mt-2">Halaman Utama</a>
            <a href="/logout" class="list-group-item list-group-item-action rounded-3 mt-2">Log Out</a>
        </div>
    </div>
</div>